.textBox {
	width: 200px;
}

.mainPanel {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: 20px;
}

.buttonBar {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
}

.button {
	width: 100px;
}